body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 80%;
    margin: auto;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

#taskList {
    list-style-type: none;
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

button {
    cursor: pointer;
}
